//https://getbootstrap.com/docs/5.0/customize/color/
//https://colorhunt.co/

$primary: #31d300;
$secondary: #b79b5b;
 
$btn_background_color: #6059f6 !important;
$btn_background_colorhover: #231c9c !important;
$transition: all 0.4s;

/*----main----*/
$container_marginTop: 10%;
$container_marginBottom: 5%;
$container_paddingTop: 9%;
$container_paddingBottom: 10%;

$boxcon_marginTop: 15%;
$boxcon_marginBottom: 8%;