button {
	background-color: $btn_background_color;
	width: 8rem;
	height: 50px;
	font-size: 1rem !important;
	color: white !important;
	transition: $transition;
	border: none !important;
	
	&:hover {
		background-color: $btn_background_colorhover;
	}
}

p {
	line-height: 1.6rem;
}
