<footer>
	<div class="mycontain footer container-fluid pt-5">
		<div class="container">
			<div class="row text-white pb-5">
				<div class="col-md-3">
					<h4 class="mb-4">در مورد آژانس</h4>
					<p class="text-muted">سفر پر از شرایط متفاوت و غیرقابل پیش بینی است. فرض کنید شما با نامزدتان یا
						کسی که قرار است در کار با آن شریک بشوید به سفر بروید. در حین سفر می‌توانید اخلاقیات طرف
						مقابل را بفهمید.</p>
				</div>
				<div class="col-md-3">
					<h4 class="mb-4">دسترسی سریع</h4>
					<div class="row">
						<div class="col-md-6">
							<ul class="nav flex-column">
								<li class="nav-item"><a href="#" class="nav-link text-muted">صفحه نخست</a></li>
								<li class="nav-item"><a href="#" class="nav-link text-muted">امکانات</a></li>
								<li class="nav-item"><a href="#" class="nav-link text-muted">سرویس ها</a></li>
							</ul>
						</div>
						<div class="col-md-6">
							<ul class="nav flex-column">
								<li class="nav-item"><a href="#" class="nav-link text-muted">صفحه نخست</a></li>
								<li class="nav-item"><a href="#" class="nav-link text-muted">امکانات</a></li>
								<li class="nav-item"><a href="#" class="nav-link text-muted">سرویس ها</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<h4 class="mb-4">خبرنامه</h4>
					<p class="text-muted">در خبرنامه ثبت نام کنید تا از آخرین اخبار و تخفیف های ما با خبر شوید</p>
					<div class="input-group">
						<input type="email" placeholder="ایمیل">
						<div class="input-group-append">
							<span class="input-group-text"></span>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<h4 class="mb-4">اخرین پست اینستا</h4>
					<div id="gallery">
						<ul class="nav list-inline">
							<li class="nav-item list-inline-item"><img src="images/i1.jpg" class="img-fluid"></li>
							<li class="nav-item list-inline-item"><img src="images/i2.jpg" class="img-fluid"></li>
							<li class="nav-item list-inline-item"><img src="images/i3.jpg" class="img-fluid"></li>
							<li class="nav-item list-inline-item"><img src="images/i4.jpg" class="img-fluid"></li>
						</ul>
						<ul class="nav list-inline">
							<li class="nav-item list-inline-item"><img src="images/i5.jpg" class="img-fluid"></li>
							<li class="nav-item list-inline-item"><img src="images/i6.jpg" class="img-fluid"></li>
							<li class="nav-item list-inline-item"><img src="images/i7.jpg" class="img-fluid"></li>
							<li class="nav-item list-inline-item"><img src="images/i8.jpg" class="img-fluid"></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="row text-muted border-top border-secondary pt-3 pb-4">
				<div class="col-md-8 pr-0">
					<p>CopyRight © 2022 All Rights reserved | This template is made with by Colorlib</p>
					<ul class="nav mr-5 pr-5 mt-2">
						<li class="nav-item"><a href="#" class="text-decoration-none"><span class=""></span></a></li>
						<li class="nav-item"><a href="#" class="text-decoration-none mx-3"><span
									class="ti-facebook"></span></a></li>
						<li class="nav-item"><a href="#" class="text-decoration-none mx-3"><span
									class="ti-twitter-alt"></span></a></li>
						<li class="nav-item"><a href="#" class="text-decoration-none mx-3"><span
									class="ti-dribbble"></span></a></li>
					</ul>
				</div>
				<div class="col-md-4">
					<p>فارسی و راست چین شده توسط Webrubik.com</p>
				</div>
			</div>
		</div>
	</div>
</footer>