<div class="mycontain container py-3" id="navigation_con">
	<nav class="navbar navbar-expand-md px-0 align-items-start justify-content-around">
		<img src="images/logo.png" class="navbar-brand img-fluid mx-0">
		<button type="button" class="btn navbar-toggler" data-toggle="collapse" data-target="#mynav">
			<span class="navbar-toggler-icon"></span>
		</button>
		<ul class="navbar-nav" id="mynav">
			<li class="nav-item ml-3"><a href="#" class="nav-link">صفحه نخست</a></li>
			<li class="nav-item ml-3"><a href="#" class="nav-link">درباره ما</a></li>
			<li class="nav-item ml-3"><a href="#" class="nav-link">پکیج ها</a></li>
			<li class="nav-item ml-3"><a href="#" class="nav-link">صفحات</a>
				<ul class="nav sub_nav">
					<li class="nav-item"><a href="#">امکانات</a></li>
				</ul>
			</li>
			<li class="nav-item ml-3"><a href="#" class="nav-link">بلاگ</a>
				<ul class="nav sub_nav">
					<li class="nav-item"><a href="#">تک صفحه</a></li>
					<li class="nav-item"><a href="#">با جزئیات</a></li>
				</ul>
			</li>
			<li class="nav-item ml-3"><a href="#" class="nav-link">تماس با ما</a></li>
		</ul>
		<button type="button" class="btn btn-primary btn-lg rounded-pill">شروع</button>
	</nav>
</div>
<header class="mycontain container d-flex align-items-center" id="header_con">
	<div class="row justify-content-end d-flex align-items-center">
		<div class="col-md-4">
			<h1 class="display-5 text-info">بیشتر سفر کنید تا خودتان را کشف کنید</h1>
			<p class="text-muted text-justify">مسافرت به شما امکان می‌دهد که برای مدتی از دوستانی که همیشه در کنارشون بودید دور
				باشید. این جدایی به شما کمک میکنه عمق دوستی را بفهمید. وقتی از سفر برگشتید دوست دارید که باز هم
				ارتباطتان را با دوستانتون ادامه بدید یا در زمان دور بودن فهمیدید که رابطتون با اونها واقعا توخالی
				بوده.</p>
			<button class="btn btn-info btn-lg rounded-pill mt-4">شروع</button>
		</div>
		<div class="col-md-6 offset-md-1">
			<img src="images/hero-img.png" class="img-fluid">
		</div>
	</div>
</header>